/*root:{
font-size:16px; 1REM
}

html{}*/

body{
    /*font-family: ;*/
    font-size: 0.875rem;
      
}

.dark{
    background-color: #232326;
    color:#f3f2f0;
}
.dark .nav-link{      
    color:#f3f2f0;    
}
.light{
    background-color: #f3f2f0;
    color:#010101;
}
.light .nav-link{
    color:#010101;
}
.wrapper{
    max-width:1200px;
    margin:0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.title-h1{
    font-size: 4.625rem;
    color:#f3f2f0;
    padding-top: 5px ;
    padding-bottom: 10px;
    padding-left: 430px;      
    background-color:deepskyblue;    
    margin: 0;
    
}
.title-h3{
    font-size: 1rem;
    font-weight: 700;
}

.title-h1-little{
    font-size: 3rem;
    color:deeppink;
}
.name{
    font-size: 2rem;    
}
.photo{
    width:100%;
   
}

header{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 60px;
}
.nav{
    display:flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.nav-item{
padding-left: 16px;
padding-right: 16px;
}
.nav-item:first-child{
    padding-left: 0;
}
.nav-item:last-child{
    padding-right: 0;
}
.nav-link{
    text-decoration: none; 
    font-size: 1.2rem;       
}
.nav-link:hover{
    color:red;
}

/*_____________________________________________________main__________________________________________________________*/
.it-project{
    border:1px solid #f3f2f0;
    margin-top:10px;
    margin-bottom:20px;
    }
    .project{
        padding-left:10px;
        display: flex;
        align-items: center;      
    }
    .project-img{
        width:16px;
        height:12px;
        display: block;
        background-image: url(../img/Arrow\ .svg);
        margin-left: 15px;
      
        
    }
.social{
    display: flex;
    justify-content: space-between;
}

/*_________________________________________________ItVeter_________________________________________*/
.skill{
display: flex;
justify-content: space-between;
}
.skill-item{
    flex:0 0 24%;
}
.skill .skill-item .description{
line-height: 150%;


}